* {
    margin: 0;
    padding: 0;
    line-height: 32px;
    font-family:sans-serif;
}

body {
    background-color:  #DCD7C9;
    padding: 24px;
}
ul {
    padding: 0 16px;
}

.container {
    padding: 24px 32px;
    background-color: #fff;
    border-radius: 2px;
}

.container .books li:nth-child(even) {
    display: inline;
    font-weight:bold;
} 

footer {
    text-align: center;
    padding: 0 12px;
}

#questionWrapper {
    margin: 24px 0;
}

#questionWrapper input {
    display: block;
    padding: 2px;
}

#questionWrapper #check {
    margin-top: 4px;
    padding: 0 4px;
}

@media (max-width : 768px) {
    body {
        padding: 8px;
    }    
}