.main {
    padding: 16px 24px;
    height: 100%;
}

.main button {
    background: none;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 50%;
    font-weight: bold;
}
.main button:hover {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.children, .main {
    margin-bottom: 48px;
}


.children small {
    display: block;
    padding: 8px 0;
}

.about {
    padding: 16px 24px;
    background-color: #F2F2F2;
}

.about p {
    margin-top: 8px;
}

.date {
    font-size: 12px;
}



