.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper input {
    width: 100%;
    padding: 4px;
}

.login-wrapper input[type="submit"]{
    width: auto;
}

.login-wrapper .login-form {
    background-color: #F2F2F2;
    padding: 48px;
    border-radius: 2px;
}

.form-example {
    padding: 8px 0;
}

@media screen and (max-width: 768px) {
    .login-wrapper .login-form {
        width: 50%;
    }
}